html {
    font-size: 70%;
    box-sizing: border-box;
}

*, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.calculator {
    border: 1.2px solid #ccc;
    background-color: #f7f8fa;
    border-radius: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: #eaf0f6;
    color: #333;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 7px 7px 0px 0px;
}

button {
    height: 70px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 3.2rem;
    color: #333;
}

.operator {
    color: #fff;
    background-color:  #a5b4fc;
}

button:hover {
    background-color: #e0e7ff;
}

.all-clear {
    background-color: red;
    border-color: darkslategray;
    color: #ffffff;
}

.equal-sign {
    background-color: #34d399;
    border-color: darkslategray;
    color: #fff;
    height: 100%;
    grid-area: 2/4/6/5;
}

.equal-sign:hover {
    background-color: #10b981;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}